@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@500&display=swap');
@import '@/assets/styles/variables';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: #f7f7f9;
  font-family: 'Open Sans', sans-serif;
  color: var(--color=text-primary);
}